.cartitems {
    margin: 100px 170px;
  }
  
  .cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
  }
  
  .cart-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    font-size: 18px;
  }
  
  .cartitems-format {
    font-size: 17px;
  }
  
  .product-icon {
    height: 62px;
  }
  
  .remove {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
  }
  
  .quantity {
    width: 64px;
    height: 30px;
    border: 2px solid #ebebeb;
  }
  
  .cartitems button {
    width: 200px;
    height:40px;
  }

  .cartitem-down {
    margin-top: 20px;
}

.cartitems-total {
    text-align: right;
}

.cart-total-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.checkout-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #218838;
}

.checkout-page {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.product-summary {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.summary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.summary-item:last-child {
  border-bottom: none;
}

.summary-image {
  width: 50px;
  height: 50px;
}

.summary-total {
  margin-top: 20px;
  text-align: right;
  font-size: 1.5em;
}


  .form-checkout {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .form-checkout form {
    width: 500px;
  }
  
  .form-checkout label {
    text-align: left;
    display: block;
    margin: 5px;
  }
  
  .form-checkout input {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  
  .form-checkout button {
    padding: 6px;
    margin: 7px;
    background-color: grey;
    border-radius: 8px;
    border: none;
    cursor: pointer; 
  }

  .order-confirmation {
    align-items: center;
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  .order-confirmation {
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .product-summary {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
  }
  
  .summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .summary-item:last-child {
    border-bottom: none;
  }
  
  .summary-image {
    width: 50px;
    height: 50px;
  }
  
  .summary-total {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: right;
  }

  .order-confirmation a {
    text-decoration: none;
  }
  
  .home-button {
    display: block;
    width: 400px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
  }